@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --padglobal: 8px;

  --border5: 5px;

  --black20: rgba(0, 0, 0, 0.2);
  --shadow-1: 1px 1px 1px var(--black20);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
